// Place all the styles related to the Biographies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.jumbotron-contents{
  table{
    line-height: 2em;
    
    td:last-child{
      padding-left: 10px;
    }
  }
}