// $very_light: rgba(160, 160, 160, .65);
$light:       rgba(42, 42, 42, .80);
$dark:        rgba(0, 0, 0, .70);

$text_light:  rgb(220, 220, 220);
$text_highlight:  rgb(240, 240, 240);
$text_dark:   rgb(80, 80, 80);
$text_strong: rgb(250, 70, 70);

body{
  background: url("1.jpg") repeat;
}

.container{
  color: $text_light;

  .topic{
    padding: 40px 0 0;

  }
}

.jumbotron{
  background-color: $dark;

  .jumbotron-contents{
    color: #A9A9A9;
  }
}

.thumbnail{
  background-color: $light;

  .caption{
    h3{
      color: $text_strong;
    }
    color: $text_light;
  }
}