.navbar-custom{
  background-color: $light;
  padding: 5px 0 10px 0;

  .nav{
    li{
      a{
        display: block;
        color: $text_light;
      }
      a:focus, 
      a:hover{
        color: $text_light;
      }
      a:active,
      a.current{
        border-bottom: 3px solid $text_strong;
      }
    }
  }

  .navbar-toggle{
    position: relative;
    background-color: #A9A9A9;
    border-color: $text_dark;

    .icon-bar{
      background-color: $text_dark;
    }
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus{
    background-color: $text_light;
    border-color: $text_dark;
  }

  .navbar-brand{

    .title{
      font-size: 25px;
      color: $text_light;
    }
    .sub{
      color: $text_strong;
    }
  }
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}

@media (max-width: 992px){
  .navbar-custom .navbar-brand{
    width: 300px;
  }
}
@media (max-width: 767px){
  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
    color: #fff;
    background-color: $text_light;
  }
  .navbar-custom{
    .navbar-brand{
      .sub{
        display: none;
      }
    }
  }
}