.site-footer{
  border-top: none;
  background-color: $light;

  .title{
    font-size: 25px;
    color: $text_light;
  }
  .sub{
    color: $text_strong;
  }
}

@media (max-width: 767px) {
  .site-footer{
    .title{
      color: $text_strong;
    }
    .sub{
      display: none;
    }
  }
}
